---
title: YugaByte DB Enterprise for PKS
owner: Partners
---
This documentation describes YugaByte DB Enterprise for Pivotal Container Service (PKS) which contains two components: 
Yugaware (YugaByte DB management console) in PKS and the YugaByte Service Broker for Pivotal Cloud Foundry (PCF).
YugaWare helps manage YugaByte Enterprise Edition by integrating orchestration, monitoring and alerts all
in one application. The documentation also describes YugaByte Service Broker for Pivotal Cloud Foundry (PCF).
The YugaByte Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace.

## <a id='overview'></a>Overview

YugaWare is a management console for YugaByte Enterprise Edition DB. It gives a interface to carry out various
Enterprise functions like Software Upgrade, Backups, Alerts, etc. Users can also use the management console to
monitor their DB performance by viewing metrics. The management console exposes bunch of these functions APIs as well.

The YugaByte Service Broker for PCF registers a service broker with PCF and exposes its service plans on the
Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps. The service broker talks to the YugaWare management console via
the API interface


## <a id='features'></a>Key Features

YugaByte DB Enterprise for PKS includes the following key features:

* **High Performance** Over 90% better performance than Cassandra when
handling over 10 Million keys. The denser the data sets, the better YugaByte DB performs vs other
databases.
* **Transactional** Support for distributed ACID transactions across PKS nodes,
containers and availability zones.
* **Planet-Scale** Automated scale-out and rebalancing across PKS availability
zones without downtime or performance bottlenecks.
* **Development Agility**: Support for Cassandra, Redis and PostgreSQL wire compatible
APIs to accelerate development.
* **Cloud Native** Designed from the ground up for the cloud and containers.
Runs on Pivotal, AWS, Google Cloud, Azure, Docker and private datacenters to support any
hybrid deployment.
* **Open Source** Transparent and extensible, Apache 2.0 licensed.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about YugaByte DB Enterprise for PKS.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Sep 20, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.1.0.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service version(s)</td>
        <td>v1.1.5.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>[Yes or No]</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements
**YugaByte DB Enterprise for PKS has the following requirements:**

+ Pivotal Container Service (PKS) cluster with atleast a **medium** plan

For more information on how to bring up a cluster in PKS see the [PKS documentation](https://docs.pivotal.io/runtimes/pks/index.html)

**YugaByte Service Broker for PCF has the following requirements:**

+ You must have a YugaWare instance running with a cloud provider setup.

For more information on how to setup a cloud provider see the [YugaByte documentation](https://docs.yugabyte.com/latest/deploy/enterprise-edition/configure-cloud-providers/)

## <a id='license'></a>License
Before deploying YugaByte DB Enterprise for PKS, you must procure a license from YugaByte Inc.


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to support@yugabyte.com.
