---
title: YugaByte DB Enterprise for PCF
owner: Partners
---
This documentation describes YugaByte DB Enterprise for Pivotal Cloud Foundry (PCF) which contains two components:
YugaWare (YugaByte DB management console) in Pivotal Container Service (PKS) and the YugaByte Service Broker for PCF.
YugaWare helps manage YugaByte Enterprise Edition by integrating orchestration, monitoring, and alerting all
in one application. The documentation also describes YugaByte Service Broker for PCF.
The YugaByte Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace.

## <a id='overview'></a>Overview

YugaWare is a management console for YugaByte Enterprise Edition DB. It provides an interface to carry out various
Enterprise functions like software upgrade, backups, and alerts. Users can also use the management console to
monitor their DB performance by viewing the metrics. The management console exposes several of these functions' APIs as well.

The YugaByte Service Broker for PCF registers a service broker with PCF and exposes its service plans on the
Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) to bind them to their apps. The service broker talks to the YugaWare management console via
the API interface.


## <a id='features'></a>Key Features

YugaByte DB Enterprise for PCF includes the following key features:

* **High Performance ---** Over 90% better performance than Cassandra when
handling over 10 million keys. The denser the data sets, the better YugaByte DB performs versus other
databases.
* **Transactional ---** Support for distributed ACID transactions across PKS nodes,
containers, and availability zones.
* **Planet-Scale ---** Automated scale-out and rebalancing across PKS availability
zones without downtime or performance bottlenecks.
* **Development Agility ---** Support for Cassandra, Redis, and PostgreSQL wire compatible
APIs to accelerate development.
* **Cloud Native ---** Designed from the ground up for the cloud and containers.
Runs on Pivotal, AWS, Google Cloud, Azure, Docker, and private data centers to support any
hybrid deployment.
* **Open Source ---** Transparent and extensible, Apache 2.0 licensed.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about YugaByte DB Enterprise for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.1.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 2, 2018</td>
    </tr>
    <tr>
        <td>YugaByte Service Broker for PCF version</td>
        <td>v1.1.6</td>
    </tr>
    <tr>
        <td>YugaWare Software component version</td>
        <td>v1.1.3 and later</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Container Service (PKS) version(s)</td>
        <td>v1.1.2, v1.1.5, and v1.2.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

YugaByte DB Enterprise for PCF has the following requirements:

+ Pivotal Container Service (PKS) cluster with at least a **medium** plan

For information about how to bring up a cluster in PKS,
see the [Pivotal Container Service](https://docs.pivotal.io/runtimes/pks/index.html) documentation.

YugaByte Service Broker for PCF has the following requirements:

+ A YugaWare instance running with a cloud provider setup.

For more information about how to set up a cloud provider,
see [Configure Cloud Providers](https://docs.yugabyte.com/latest/deploy/enterprise-edition/configure-cloud-providers/)
in the YugaByte documentation.

## <a id="component"></a>Component, Function, and Install Table

<table class="nice">
    <th>Component</th>
    <th>Function</th>
    <th>Install</th>
    <tr>
        <td>YugaWare</td>
        <td>YugaByte DB Enterprise management system in PKS</td>
        <td>First</td>
    </tr>
    <tr>
        <td>YugaByte Service Broker for PCF</td>
        <td>Allow applications running in PAS to bind to the service created on PKS</td>
        <td>Second</td>
    </tr>
</table>

## <a id='license'></a>License
Before deploying YugaByte DB Enterprise for PKS, you must procure a license from YugaByte Inc.


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to support@yugabyte.com.
