---
title: Release Notes for YugaByte DB Enterprise for PKS
owner: Partners
---


These are release notes for YugaByte DB Enterprise for PKS.

##<a id="ver"></a> v1.1.0

**Release Date:** September 20, 2018

Features included in this release:

* Distributed multi-shard/multi-table ACID transactions!
* Global & consistent secondary indexes
* UNIQUE constraint on secondary indexes
* Native JSON data type
* Public/private IP bindings for multi/hybrid cloud or multi-region deployments
* User authentication 
* Redis-compatibility features added to our YEDIS API:
  - “Read from followers” for tunable read consistency
  - Support for multiple databases or namespaces
  - Support for MONITOR, EXPIRE, TTL
* Bug fixes and performance enhancements
* On-the-wire TLS encryption
* Distributed backups and restore
* Orchestration integration with Pivotal Container Service (PKS) and Google Kubernetes Engine (GKE)
* Read replicas (Beta)

Fixed issues in this release:

* Fixed issue one.
* Fixed issue two.
* Fixed issue three.

**When you have fixed issue, you should have a corresponding known issue in the release below.**

Known issues in this release:

* Issue one.
* Issue two.
* Issue three.



