---
title: Release Notes for YugaByte DB Enterprise for PCF
owner: Partners
---


These are release notes for YugaByte DB Enterprise for PCF.

##<a id="ver"></a> v1.1.0

**Release Date:** October 5, 2018

This version is the first Generally Available (GA) version of the YugaByte DB Enterprise for PCF.

New features included in this release:

* Orchestration integration with Pivotal Container Service (PKS) and Google Kubernetes Engine (GKE)
* Distributed multi-shard/multi-table ACID transactions
* Global & consistent secondary indexes
* UNIQUE constraint on secondary indexes
* Native JSON data type
* Public/private IP bindings for multi/hybrid cloud or multi-region deployments
* User authentication 
* Redis-compatibility features added to our YEDIS API:
  - “Read from followers” for tunable read consistency
  - Support for multiple databases or namespaces
  - Support for MONITOR, EXPIRE, TTL
* Bug fixes and performance enhancements
* On-the-wire TLS encryption
* Distributed backups and restore
* Read replicas (Beta)





