---
title: Release Notes for YugaByte DB Enterprise for PCF
owner: Partners
---


These are release notes for YugaByte DB Enterprise for PCF.

##<a id="ver"></a> v1.1.8

**Release Date:** March 27, 2019

The features included in this release are as follows:

* Provide a way to specify cql user role (admin/read_only).
* Fixed a bug when creating service without any parameters.
* Add Refresh authToken logic to service key creation flow as well.
* Convert YugaWare StatefulSet to helm chart

##<a id="ver"></a> v1.1.7

**Release Date:** January 4, 2019

<p class="note warning"><strong>Breaking Change:</strong>
  YugaByte DB Enterprise for PCF v1.1.7 and later requires a Xenial stemcell.
  You must manually download and import a new stemcell into the Ops Manager Stemcell
  Library before deploying YugaByte DB Enterprise for PCF v1.1.7.
  This might break automation you have set up previously to update YugaByte DB for PCF deployments
  that used Trusty stemcells.
  To download the Xenial stemcell from Pivotal Network, go to
  <a href="https://network.pivotal.io/products/stemcells-ubuntu-xenial">Stemcells for PCF (Ubuntu Xenial)</a>.
  For instructions on importing the stemcell, see
  <a href="https://docs-pcf-staging.cfapps.io/pivotalcf/opsguide/managing-stemcells.html">Importing and Managing Stemcells</a>.</p>

The features included in this release are as follows:

* Made mysql plan configurable in Ops Manager
* Enforced Service Instance naming to avoid special characters
* Added YugaWare authToken validation and refresh logic
* Added better YugaWare API exception handling

##<a id="ver"></a> v1.1.6

**Release Date:** November 2, 2018

The features included in this release are as follows:

* Add service plan metadata to provide more detailed resource requirements
* Add GFlags override option for Kubernetes
* Launch YugaByte DB across PKS and multiple other cloud providers
* Added Authentication for YCQL and YEDIS APIs

##<a id="ver"></a> v1.1.4

**Release Date:** October 10, 2018

This version is the first Generally Available (GA) version of the YugaByte DB Enterprise for PCF.

The features included in this release are as follows:

* Orchestration integration with Pivotal Container Service (PKS) and Google Kubernetes Engine (GKE)
* Distributed multi-shard/multi-table ACID transactions
* Global & consistent secondary indexes
* UNIQUE constraint on secondary indexes
* Native JSON data type
* Public/private IP bindings for multi/hybrid cloud or multi-region deployments
* User authentication
* Redis-compatibility features added to our YEDIS API:
  - “Read from followers” for tunable read consistency
  - Support for multiple databases or namespaces
  - Support for MONITOR, EXPIRE, TTL
* Bug fixes and performance enhancements
* On-the-wire TLS encryption
* Distributed backups and restore
* Read replicas (Beta)
