---
title: Using YugaByte DB Enterprise for PKS
owner: Partners
---

This topic describes how to use YugaByte DB Enterprise for PKS.

##<a id='using'></a> Using YugaByte DB Enterprise for PKS

YugaByte support Cassandra and Redis complaint API, Refer to [YugaByte documentation] (https://docs.yugabyte.com/latest/develop/client-drivers/) to learn on how to use
YugaByte with your existing application.
